.emptyContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 16px;
    border-radius: 16px;
    height: 360px;
}

.emptyImage {
    max-width: 220px;
}

.emtptyText {
    font-size: 14px;
    line-height: 21px;
    color: #202020;
}
