:root,
:host {
    --product-library-priorities-p1-primary-idle-tint: #d1453b;
    --product-library-priorities-p1-primary-idle-fill: #d1453b;
    --product-library-priorities-p2-primary-idle-tint: #eb8909;
    --product-library-priorities-p2-primary-idle-fill: #eb8909;
    --product-library-priorities-p3-primary-idle-tint: #246fe0;
    --product-library-priorities-p3-primary-idle-fill: #246fe0;
    --product-library-priorities-p4-primary-idle-tint: #999999;
    --product-library-priorities-p4-primary-idle-fill: #999999;
    --product-library-display-accent-primary-fill: #dc4c3e;
    --product-library-display-accent-secondary-fill: #fde7d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "Helvetica Neue", sans-serif;
    background-color: #f0f0f0;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
}
